.aboutPage .skillBox:hover {
  transform: none !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1) !important; /* Keep original shadow */
}

.aboutPage a:hover {
  opacity: 1 !important;
}